

<header class="g-specialHeader">
  <h1 class="g-specialHeader__title">The special title</h1>
  <h2 class="g-specialHeader__subtitle">this special subtitle</h2>

  <div class="g-specialHeader__content">
    <div class="c-shareButtons">
      <ul class="c-shareButtons__list">
        <li class="twitter">
          <button>
            <img alt="Tweet" src="/assets/v1.0.0/icons/twitter.svg">
          </button>
        </li>
        <li class="facebook">
          <button>
            <img alt="Share on Facebook" src="/assets/v1.0.0/icons/facebook.svg">
            <script src="http://connect.facebook.net/es_ES/all.js" type="text/javascript" charset="utf-8"></script>
          </button>
        </li>
        <li class="whatsapp">
          <a data-action="share/whatsapp/share"
             href="whatsapp://send?text=I'm a nice title en http://localhost:5000/">
            <img alt="Share on WhatsApp" src="/assets/v1.0.0/icons/whatsapp.svg">
          </a>
        </li>
        <li class="email">
          <a
            href="mailto:?subject=I'm a nice title&amp;amp;body=I'm the text thats that will be the postcontent: http://localhost:5000/">
            <img alt="Share by e-mail" src="/assets/v1.0.0/icons/email.svg">
          </a>
        </li>
      </ul>
    </div>
  </div>

  <nav class="g-specialHeader__navigation">
    <ul class="g-specialHeader__navigation__list">

    </ul>
  </nav>
</header>

