body {
  @each $color in base, dark, xdark {
    .m-color__primary--$(color) {
      background-color: map(colors, primary, $(color));
      color: #fff;
    }
  }

  @each $color in base, light, dark {
    .m-color__secondary--$(color) {
      background-color: map(colors, secondary, $(color));
      color: #fff;
    }
  }

  @each $color in caribe, santander, opinion, siONo, conversaciones, quienEsQuien, hagameElCruce, elIq, laboratorio, laSillaLlena {
    .m-color__productos--$(color) {
      background-color: map(colors, productos, $(color));
      color: #fff;
    }
  }

  @each $color in santander, caribe, deLaPaz, deLaMujer, rural, deLaMineria, cachaca, deEducacion, lider, ambiental, deInnovacion, social, cultural {
    .m-color__red--$(color) {
      background-color: map(colors, red, $(color));
      color: #fff;
    }
  }

  @each $color in liberal, polo, opcionCiudadana, laU, alianzaVerde, centroDemocratico, asi, cambioRadical, conservador, mira, mais {
    .m-color__partidos--$(color) {
      background-color: map(colors, partidos, $(color));
      color: #fff;
    }
  }

  @each $color in procesoDePaz, elecciones2015 {
    .m-color__espaciales--$(color) {
      background-color: map(colors, espaciales, $(color));
      color: #fff;
    }
  }
}
