

<html lang="es" dir="ltr" prefix="og: http://ogp.me/ns#" class="no-js fonts-loaded"><head><meta charSet="utf-8" /><meta name="referrer" content="origin" /><meta name="robots" content="index, follow" /><meta name="viewport" content="width=device-width, initial-scale=1" /><link rel="stylesheet" href="/assets/styles/app.css" /></head><body><div><div class="c-toggle"><button class="c-toggle__button">The toggle title</button><div class="c-toggle__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div></div></div><script src="/assets/scripts/app.js"></script></body></html>
